/* You can write Styling for Your WebPage here */

@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
    
:root {
  --Navy: #0a192f;
  --LightNavy: #112240;
  --LightestNavy: #233554;
  --Slate: #8892b0;
  --LightSlate: #a8b2d1;
  --LightestSlate: #ccd6f6;
  --White: #e6f1ff;
  --Green: #64ffda;
  --consolas: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #780206, #061161);
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;

    }



.toolcontainer{
      max-width: 700px;
      text-align: center;
    }


.logo img{
  width: 50%;
  transition: 0.3s all ease-in-out;
}

.logo img:hover{
  transform: scale(1.2);
}

.letters{
  font-family:  'Secular One';
  font-size: 4rem;
  color: rgb(255, 239, 239);
}
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  transition: 1s ease;
}
body {
  background: linear-gradient(90deg, var(--Navy) 0%, var(--LightestNavy) 100%);
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolcontainer {
  max-width: 700px;
  text-align: center;
}

/* For Moving Letter Animation */
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

input[name="url"] {
  width: 100%;
  height: 50px;
  border-radius: 17px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
  color: #fff;
  background: linear-gradient(270deg, var(--Navy) 0%, var(--LightestNavy) 100%);
  border: 2px solid rgba(204, 204, 204, 0.856);
  /* background: #fff2; */
  outline: none;
}

   
#welcome h2
{ font: normal 450% 'News Cycle', Arial, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #898989;
  color: #323232;}
  
ul#nav
{ margin:0;
  float: left;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  text-align: center;   
  background: transparent;}

ul#nav li a
{ font: bold 110% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 0;
  padding: 6px 20px 6px 20px;
  background: transparent; 
  text-align: center;
  text-shadow: 1px 1px #000;
  color: #898989;
  text-decoration: none;} 
  
ul#nav li.current a, ul#nav li:hover a
{ text-shadow: 1px 1px #000;
  color: #898989;
  background: transparent url(../images/transparent.png) repeat;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;}

#site_content
{ width: 940px;
  overflow: hidden;
  margin-bottom: 30px;} 

.sidebar_container
{ float: left;
  width: 260px;
  padding: 0;
  background: transparent url(../images/transparent.png) repeat;}

.sidebar
{ float: left;
  width: 240px;
  margin: 20px 0px 10px 20px;}

.sidebar_item
{ width: 220px;}

.sidebar h2
{ padding: 5px 0 0 0;
  font: bold 150% 'News Cycle', Arial, sans-serif;
  height: 30px;} 

#content
{ width: 670px;
  margin: 0 0 20px 10px;
  float: left;}

.content_item
{ width: 670px;
  margin-top: 20px;
  margin-bottom: 20px;}
 
.content_imagetext
{ width: 640px;
  padding: 5px;
  margin: 20px 0 0 0;
  float: left;}
 
.content_image
{ float: left; 
  width: 150px;
  height: 150px;
  margin: 0 20px 10px 0;}
  
.content_container
{ width: 300px;
  padding: 5px;
  margin: 20px 10px 0 0;
  float: left;}
  
footer
{ height: 50px;
  padding-bottom: 30px;
  font-weight: bold;
  text-align: center; 
  text-shadow: 1px 1px #000;
  color: #898989;}

footer a, footer a:hover
{ text-shadow: 1px 1px #000;
  color: #898989;
  padding-bottom: 20px;}
 
 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  float: left;
  padding: 5px 15px 7px 10px;
  border: 1px solid #FFF; 
  background: transparent url(../images/transparent.png) repeat;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}
  
.button_small a
{ color: #FFF;
  padding-left: 5px;
  text-shadow: 1px 1px #000;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;
  text-shadow: none;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid #FFF; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: transparent url(../images/transparent.png) repeat;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  color: #FFF;
  text-shadow: 1px 1px #000;}
  
/* Removed from template
.slideshow
{ width: 940px;
  height: 300px;
  float: left;}  
  

ul.slideshow {
  list-style: none;
  width: 940px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 0;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
*/

ul img {
  border: none;}
 
#slideshow-caption {
  width: 940px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #000;}
 
 

.thumbnailimg {
  width: 100%;
  margin: 20px 0;
}
.button {
  margin-top: 20px;
  position: relative;
  padding: 10px 30px;
  background: linear-gradient(270deg, var(--Navy) 0%, var(--LightestNavy) 100%);
  border: 2px solid rgba(204, 204, 204, 0.856);
  border-radius: 17px;
  color: #fffa;
  text-decoration: none;
  font-weight: 600;
}
.button:hover {
  background: #ffffff7a;
  color: rgba(255, 255, 255, 0.884);

  input[name="url"] {
    width: 100%;  
    height:50px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
    color: #fff;  
    background: linear-gradient(to left, #780206, #061161);
    border: 1px solid #ccc;
    /* background: #fff2; */
    outline: none;
  }
 
  .thumbnailimg {
    width: 100%;
    margin:20px 0;
  }
  .button{
    margin-top: 20px;
    position: relative;
    padding:10px 30px;
    background: linear-gradient(to left, #780206, #061161);
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #fffa;
    text-decoration: none;
    font-weight: 600;
  }
  .downloadbutton{
    display:none;
    margin: 0;
  }

  .footer h1{
    padding: 1rem;
    margin: 1rem;
    color: red;
    
  }

  .footer a{
    color: white;
    text-decoration: none;
  }
  .footer a:hover{
    color: red;
    text-decoration: underline;
 
  }

}

.button:active {
  background-color: #ffffff7a;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}
.downloadbutton {
  display: none;
  margin: 0;
}
